<!DOCTYPE html>
<html>
    <head>
        <title>{{ TITLE }}</title>
        <link type="text/css" rel="stylesheet" href="{{url_for('static',filename='index.css')}}"/>
        <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    </head>
    <body>
        
        <div class="nav">
            <a class="active">{{ USERNAME }}</a>
            <a class="A">Community</a>
            <a class="A">Messages</a>
            <a class="A">Overall Statistics</a>
            <a class="float-center">Created and Brought To You By: Coder100 & MocaCDeveloper</a>
            <a class="A float-right" href="{{ url_for('_homescreen_') }}">Logout</a>
        </div>

        <div class="ProfileInfo">

            <div class="search-bar">
                <form action="{{url_for('redirect_')}}" method="post">
                    <input class="inp" name="Search_user" placeholder="Search for a user">
                    <!--<button class="Button_" type="submit">Search</button>--></input>
                    {%if err_msg%}
                    <p style="font-size:12px;color:red;text-align:center">{{err_msg}}</p>
                    {%endif%}
                </form>
                <p style="font-size:12px">See <a href="{{url_for('dev_notes')}}">Developer Notes</a> for additional information from the <b>Developers</b></p>
            </div>

            <h3>Howdy, <i>{{USERNAME.upper()}}</i>!</h3>
            {%if PERSON.lower() == 'trump'%}
            <p style="color:blue;font-size:15px">#TrumpSupporter</p>
            {%endif%}
            {%if PERSON.lower() == 'biden'%}
            <p style="color:blue;font-size:15px">#BidenSupporter</p>
            {%endif%}

            <div class="large">
                <p>Update Profile:</p>

                <a href="{{url_for('_change_pass_')}}"><button class="_Button">Change Password</button></a>

                    <!-- UPDATE ABOUT YOU -->
                    <a href="{{url_for('_update_')}}"><button class="_Button">Update <i>About You</i></button></a>

                {%if ABOUT%}
                <p>About You:</p>
                <div class="large_extra">
                    <p>{{ABOUT}}</p>
                </div>
                {%endif%}
                <!--<div class="large_extra">--
                    <!-- CHANGE PASSWORD -->
                </div>
                <p>Current Notifications:</p>
                <!--</div>-->
            </div>
            <!--<h1>Howdy, <i>{{USERNAME.upper()}}</i>!</h1>
            <p class="large">Voting For: {{PERSON}}</p>
            <p class="large">Reasoning: {{REASON}}</p>-->
        </div>

        <footer class="bottom">
            <p style="font-size:22px;">Copyright, 2020, Coder100 & MocaCDeveloper. All Rights Reserved</p>
        </footer>
    </body>
</html>
