<!DOCTYPE html>
<html>
    <head>
        <title>Server Down</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='temp.css') }}"/>
    </head>
    <body>
        <div class="center">
            <h1 style="letter-spacing:6px">{{MSG}}</h1>
            <h3 style="letter-spacing:2px">Server Temporarily Down</h3>
            <p style="font-size:14px">We Apologize For The Inconvenience, We Will Get The Server Up And Going As Soon As Possible!</p>
        </div>
    </body>
</html>