<!DOCTYPE html>
<html>
    <head>
        <title>Server Down</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='temp.css') }}"/>
        <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="center">
            <h1 style="letter-spacing:6px">{{MSG}}</h1>
            <h3 style="letter-spacing:2px">Server Temporarily Down</h3>
            <p style="font-size:14px">We Apologize For The Inconvenience, We Will Get The Server Up And Going As Soon As Possible!</p>
        </div>
        <footer class="bottom">
            <p style="font-size:22px;">Copyright, 2020, Coder100 & MocaCDeveloper. All Rights Reserved</p>
        </footer>
    </body>
</html>