<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static',filename='login.css')}}"/>
    </head>

    <body>
        <div class="head">
            <h2>Change Password</h2>
            {%if err%}
            <p>{{err}}</p>
            {%endif%}
            <form action="{{url_for('transmit_new_pass')}}" method="post">
                <input class="inp" name="new_pass" type="password" placeholder="New Password"></br></br>
                <button class="Button" type="submit">Change Password</button>
            </form></br>
            <a href="{{url_for('_home_')}}"><button class="Button" type="submit">Go Back</button></a>
        </div>
    </body>
</html>
